---
import ThemeToggle from "../ThemeToggle";
---

<div class="bg-bgk2 fixed top-0 left-0 right-0 py-4 px-8">
    <nav class="flex gap-4 justify-between items-center">
        <div>Logo</div>
        <ul class="flex gap-4">
            <ThemeToggle client:load />
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</div>
